<md-dialog layout-fill layout="column">
    <div class="md-toolbar-tools">

          <md-toolbar-filler layout="row" layout-align="left center">
  
            <md-button ng-click="cancel()" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
          </md-toolbar-filler>
      
  
      </div>
     
        
    <md-card flex-xs layout="column">
        <img ng-src="img/pic.png" class="md-card-image" alt="Student Picture">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{student}}</span>
            </md-card-title-text>
        </md-card-title>
        
        <md-card-content>
            <h5>{{time}}</h5>
            
        </md-card-content>

    </md-card>
</md-dialog>