<md-dialog layout-fill layout="column">
    <div class="md-toolbar-tools">

          <md-toolbar-filler layout="row" layout-align="left center">
  
            <md-button ng-click="cancel()" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
          </md-toolbar-filler>
      
  
      </div>
     
      <md-card flex-xs layout="column">
          
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{student.firstname}}</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
                <img ng-src="img/pic.png" class="md-card-image" alt="Student Picture">
            </md-card-title-media>
        </md-card-title>
        <h5>{{student}}</h5>

        <md-slider-container>
                <span>R</span>
                <md-slider min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider"
                           class="md-warn">
                </md-slider>
                <md-input-container>
                  <input type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
                </md-input-container>
              </md-slider-container>
          
              <md-slider-container>
                <span>G</span>
                <md-slider ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider"
                           class="md-accent">
                </md-slider>
                <md-input-container>
                  <input type="number" ng-model="color.green" aria-label="green" aria-controls="green-slider">
                </md-input-container>
              </md-slider-container>
          
              <md-slider-container>
                <span class="md-body-1">B</span>
                <md-slider ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider"
                           class="md-primary">
                </md-slider>
                <md-input-container>
                  <input type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
                </md-input-container>
              </md-slider-container>
      </md-card> 


</md-dialog>